@page "/AgregarEstudiantes"
@inject NavigationManager NavigationManager
@using p23_universidadv3.Modelo
@using p23_universidadv3.Servicio
@inject ServicioEstudidantes serv;

<h3>Agregar Estudiante</h3>

<div class="row">
    <div class="col-md-8">
        <EditForm Model="@obj" OnValidSubmit="@CrearEstudiante">
            <DataAnnotationsValidator/>
            <ValidationSummary/>
            <div class="form-group">
                <label for="Apaterno" class="control-label">Apellido Paterno</label>
                <InputText id="Apaterno" class="form-control" @bind-Value="obj.Apaterno"/>
            </div>
            <div class="form-group">
                <label for="Amaterno" class="control-label">Apellido Materno</label>
                <InputText id="Amaterno" class="form-control" @bind-Value="obj.Amaterno"/>
            </div>
            <div class="form-group">
                <label for="Nombre" class="control-label">Nombre</label>
                <InputText id="Nombre" class="form-control" @bind-Value="obj.Nombre"/>
            </div>
            <div class="form-group">
                <label for="Email" class="control-label">Email</label>
                <InputText id="Email" class="form-control" @bind-Value="obj.Email"/>
            </div>
            <div class="form-group">
                <label for="FechaIngreso" class="control-label">Fecha de Ingreso</label>
                <InputDate id="FechaIngreso" class="form-control" @bind-Value="obj.FechaIngreso"/>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-primary" @onclick="@Cancelar">Cancelar</button>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {
    Estudiante obj = new Estudiante();
    protected void CrearEstudiante()
    {
        serv.Insertar(obj);
        NavigationManager.NavigateTo("Estudiantes");
    }
    void Cancelar()
    {
        NavigationManager.NavigateTo("Estudiantes");
    }
    protected override void OnInitialized()
    {
        obj.FechaIngreso = DateTime.Today;
    }
}